BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 90
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
PointerAlignment: Left
SortIncludes: CaseSensitive
SpaceBeforeParens: ControlStatements
